* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: black;
  color: rgb(175, 175, 175);
  font-family: Monaco, Consolas, Courier, monospace;
}

h1 {
  font-size: 16px;
  margin: 0 0 10px;
  text-align: center;
}

#fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

#wrapper {
  display: flex;
  flex-direction: column;
}

#layer_wrapper canvas {
  display: block;
  position: absolute;
}

#info {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  margin: 10px 0 0;
  opacity: 0.5;
  width: 100%;
}

#info:hover {
  opacity: 1;
}

#info span {
  color: #d67fff;
}

#info a {
  color: #42b6ff;
}
